<div id="nzbg_main">
<h3>Cronjob</h3>
<div class="div_block">
<blockquote class="blockquote_grey">
For automated downloading you need to create a cronjob. Because most people are struggling to create cronjobs you can generate it here.
Choose a download check interval and click on the 'generate cronjob' button.
<br /><br />
<select name="cron_time">
<option value="15">every 15 minutes</option>
<option value="30">every 30 minutes</option>
<option value="60" selected>every hour</option>
<option value="120">every 2 hours</option>
<option value="180">every 3 hours</option>
<option value="240">every 4 hours</option>
<option value="300">every 5 hours</option>
<option value="360">every 6 hours</option>
<option value="420">every 7 hours</option>
<option value="480">every 8 hours</option>
</select>
<button id="cron_create">generate cronjob</button>
</blockquote>
<br />
<blockquote class="blockquote_green">
After clicking the button you can copy the results (in bold) and paste it in crontab. If the PHP path in the result is printed in <font color="red">red</font>, the system couldn't locate PHP on your system. In that case you need to open a shell command window to your server and type <i>'which php'</i>. Now replace the red text with the result of this command.
<br /><br />
RESULT:
<br /><br />
<div id="cron_result">
<i>click the 'generate cronjob' button first.</i>
</div>
<br />
You can add this cronjob by typing 'crontab -e' as shell command. If you're not sure how to add cronjobs please search on Google (lots of info to find about this topic)
</blockquote>
<br />
</div>
</div>