<h3>Download list</h3>
<blockquote class="blockquote_grey" style="width:600px;">
Click on the <img src="images/edit.png" border="0"> icon to edit the record. Click the <img src="images/remove.png" border="0"> icon to remove the record from the download list. 
<br /><br />
All NZB files found on entries marked with the <img src="images/icon_queue.png"> icon will be moved to the verification queue first. All NZB files matching entries with the <img src="images/icon_auto.png"> will be automatically moved to the NZB incoming directory.
</blockquote>
<div class="blockquote_grey" style="width: 750px;">
<div id="downloadlist" style="width: 700px;">
</div>
</div>
<div id="frm_text"><img src="images/add.png" style="cursor: pointer;"></div>
<div class="div_block" style="display:none;">
<form method="POST" name="frmDownload">
   <blockquote class="blockquote_grey">
   <p>
   <b>NZB source</b>
   <br /><br />
   Choose the NZB source.<br /><br />
   <b>Tip: Use tvnzb.com for TV series and nzbindex.nl for other kind of searches</b>
   </p>
   <br />
   <div class="frm_element">
       <select name="strDLSource">
           <option value="tvnzb">tvnzb.com</option>
           <option value="nzbindex">nzbindex.nl</option>
       </select>
   </div>
   </blockquote>
   <blockquote class="blockquote_grey">
   <p>
   <b>Title</b>
   <br /><br />
   Give the entry a usefull name. In case of NZBINDEX.nl matches and with Twitter support enabled it will 'tweet' this title.<br /><br />
   <b>Note: The title is <font color="red">not needed</font> to identify releases in NZB feeds. It's just to show a fancy name in the download list.</b>
   </p>
   <br />
   <div class="frm_element">
       <input type="text" name="strDLTitle" value="">
   </div>
   </blockquote>
   <blockquote class="blockquote_grey">
   <p>
   <b>Match pattern</b>
   <br /><br />
   The records found in the NZB RSS feeds should match this pattern. If it matches, it will download the attached NZB file.<br /><br />
   - For TVNZB.com records you <font color="red">CAN NOT</font> combine phrases. Only exact matches will be found.<br />
   - For NZBINDEX.nl records you <font color="green">CAN</font> combine phrases.
   <br /><br />For example:<br /><br />
   TVNZB:<br />
   If you want to download The.Office.US.S06E04.720p.HDTV.x264-GROUP you can use the pattern "the.office" and it will match. But "the office" (mind the missing dot) will not.
   <br /><br />
   NZBINDEX:<br />
   You can use patterns here as if you are searching on Google.
   </p>
   <br />
   <div class="frm_element">
       <input type="text" name="strDLMatch" value="">
   </div>
   </blockquote>
   <blockquote class="blockquote_grey">
   <p>
   <b>Download to NZB incoming folder or add to verification queue first?</b>
   <br /><br />
   If a NZB file is found you can choose if you want tot move it to the incoming folder for immediate download, or you can move it to the NZB verification queue. If you choose to move files to this queue you can verify the matches first and decide whether to download them or not.
   </p>
   <br />
   <div class="frm_element">
       <select name="strDLHow">
           <option value="auto" selected>download to nzb incoming folder</option>
           <option value="queue">add to nzb verification queue first</option>
       </select>
   </div>
   </blockquote>
   <div id="fixedfilename">
   <blockquote class="blockquote_grey">
   <p>
   <b>NZB filename</b>
   <br /><br />
   This field is optional.<br /><br />
   You can give NZB files matching this entry a static filename. (only available in auto download to nzb folder mode)<br /><br />
   Use this option with <font color="red"><b>caution!</b></font> If multiple matches are found within the same run they will all get the same NZB filename (which means some files will be <u>overwritten</u>)
   </p>
   <br />
   <div class="frm_element">
       <input type="text" name="strDLFixedFileName" value=""><b>.nzb</b>
   </div>
   </blockquote>
  </div>
   <div id="nzbindex_options" style="display:none;">
   <blockquote class="blockquote_yellow">
   <p>
   <b>Exclude keywords</b>
   <br /><br />
   Your download should match the patterns you specified in the 'Match pattern' section above. But you can exclude downloads which contain certain phrases or keywords. <b>You can enter multiple keywords by using a comma to seperate them</b>.
   </p>
   <br />
   <div class="frm_element">
       <input type="text" name="strExclude" value="">
   </div>
   </blockquote>
   <blockquote class="blockquote_yellow">
   <p>
   <b>Minimum size</b>
   <br /><br />
   Matching items should at least be this amount of megabytes.
   </p>
   <br />
   <div class="frm_element">
       <input type="text" name="intMinSize" value="10">
   </div>
   </blockquote>
   <blockquote class="blockquote_yellow">
   <p>
   <b>Maximum size</b>
   <br /><br />
   Matching items should not exceed this amount of megabytes. (optional)
   </p>
   <br />
   <div class="frm_element">
       <input type="text" name="intMaxSize" value="">
   </div>
   </blockquote>
   <blockquote class="blockquote_yellow">
   <p>
   <b>Specific poster</b>
   <br /><br />
   Sometimes you want releases from a specific usenet poster. If you want all posts from a specific poster leave the match pattern field empty, it will then matches all the posts from this user. (optional)
   </p>
   <br />
   <div class="frm_element">
       <input type="text" name="strPoster" value="">
   </div>
   </blockquote>
   </div>
   <div id="tvnzb_options">
   <blockquote class="blockquote_orange">
   <p>
   <b>TV Series quality</b>
   <br /><br />
   Choose the quality you want.<br /><br />
   <b>Note: some series are never released in HD so you will never get a match</b>
   </p>
   <br />
   <div class="frm_element">
       <select name="strQuality">
           <option value="HD" selected>HD (mostly 720p)</option>
           <option value="SD">SD (mostly xvid)</option>
       </select>
   </div>
   </blockquote>
   </div>
   <div>
       <input type="submit" id="submit" value="Add this entry"/>
   </div>
</form>
<br />
</div>
<br />