<div id="nzbg_main" style="width:600px;">
%%-QUEUE_MESSAGE-%%
%%-IP_MESSAGE-%%
<blockquote class="blockquote_grey">
<h3>About</h3>
<br />
<p>
NZBGetter is a PHP Script for linux based systems to spider NZB index<br />
sites for NZB files matching your predefined search patterns. The<br />
script downloads matching NZB files and passes them to your Usenet Reader.<br /><br />
</p>
</blockquote>
<blockquote class="blockquote_grey">
<h3>Requirements</h3>
<br />
<p>
<ul style="margin-left:20px;">
<li>Linux Operation System</li>
<li>PHP 5</li>
<li>PHP cURL library (recommended)</li>
<li>Webserver (for example Apache)</li>
<li>An installed Newsreader client with a watch folder for incoming NZB files (SABnzb, NZBGet are good readers)</li>
<li>(optional) Cronjob support (if you want this script to auto-download NZB files)</li>
</ul>
</p>
<br />
</blockquote>
<blockquote class="blockquote_grey">
<h3>Contact</h3>
<br />
<p>
You can contact me if you have any comments of ideas for improvement in the next version.<br /><br />
<a href="http://www.twitter.com/youritromp"><img src="images/twit1.png" border="0"></a>
<br /><br />
Site: <a href="http://sourceforge.net/projects/nzbgetter/" target="_blank">http://sourceforge.net/projects/nzbgetter/</a><br />
Email: ytromp@xs4all.nl
</p>
<br />
</blockquote>
<br />
</div>