<h3>Rename entry from the NZB verification queue</h3>
<br />
<div class="div_block">
   <blockquote id="nzb_filename" class="blockquote_grey">
   <p>
   <b>NZB filename</b>
   <br />
   </p>
   <br />
   <div id="nzbrename_form">
   <form method="POST" name="frmNZBRename">
   <input type="hidden" name="intID" value="%%-ID-%%">
   <div class="frm_element">
      <input type="text" name="strNZB" value="%%-NZB-%%"><b>.nzb</b>
   </div>
   <div>
      <input type="submit" id="submit" value="Edit filename"/>
      <div class="loading"></div>
   </div>
   </form>
   </div>
   <br />
   </blockquote>
<a href="?a=nzbq"><img src="images/back.png" border="0"></a>
</div>