<h3>NZB Verification queue</h3>
<blockquote class="blockquote_grey" style="width:600px;">
Click on the <img src="images/download_icon.png"> icon to process the NZB file to the incoming NZB direcory. Click the <img src="images/remove.png"> icon to remove the NZB from the list without processing. It's also possible to rename the NZB file before downloading by clicking the <img src="images/icon_rename.png"> icon.
</blockquote>
<div class="blockquote_grey" style="width: 750px;">
<div id="queuelist" style="width: 700px;">
</div>
</div>
<br />