<h3>Settings</h3>
<div class="frm_done">
<blockquote class="blockquote_green">
Your new settings are stored!
</blockquote>
</div>
<div class="div_block">  
<form method="POST" name="frmSettings">
   <blockquote class="blockquote_grey">
   <p>
   <b>WGET full path (from root directory)</b>
   <br /><br />
   Primarily this script uses the <a href="http://php.net/curl" target="_blank">PHP cURL</a> library to download NZB files from various sources. But some systems and NAS solutions don't have PHP cURL library support enabled. If you don't have cURL enabled the script supports the shell command 'wget' to receive the NZB files.
   <br /><br />
   Please click the 'check now' button to run a short benchmark on your system to determine which NZB download method to use.
   <br /><br />
   <button id="check_download_setting">check now</button>
   </p>
   <br />
   <div class="frm_element">
       <input type="text" name="strWgetFolder" value="%%-WGET_FOLDER-%%">
   </div>
   </blockquote>
   <blockquote class="blockquote_grey">
   <p>
   <b>NZB path (from root directory)</b>
   <br /><br />
   Please provide the full path to your usenet client it's incoming NZB directory. Please make sure this directory is <u>writable</u> and correct, otherwise your downloads wont start.<br /><br />
   If you don't have an usenet client installed, consider using NZBGet which can be found at <a href="http://nzbget.sourceforge.net/" target="_blank">http://nzbget.sourceforge.net/</a>
   </p>
   <br />
   <div class="frm_element">
       <input type="text" name="strNZBFolder" value="%%-NZB_FOLDER-%%">
   </div>
   </blockquote>
   <blockquote class="blockquote_grey">
   <p>
   <b>Filename for logfile</b>
   <br /><br />
   Provide a filename for the logfile. (default is nzbd.log)
   </p>
   <br />
   <div class="frm_element">
       <input type="text" name="strLogFile" value="%%-LOGFILE_NAME-%%">
   </div>
   </blockquote>
   <blockquote class="blockquote_grey">
   <p>
   <b>Log maintenance</b>
   <br /><br />
   You can reset the logfile if it exceeds a specific number of lines.
   </p>
   <br />
   <div class="frm_element">
       <input type="text" name="intMaxLogLines" value="%%-MAXLOGLINES-%%">
   </div>
   </blockquote>
   <blockquote class="blockquote_orange">
   <p>
   <b>TVNZB.com RSS feed</b>
   <br /><br />
   Full URL to the TVNZB.com RSS feed. Unless the URL changes please keep this setting <u>unchanged</u>.
   </p>
   <br />
   <div class="frm_element">
       <input type="text" name="strRSSTvNZB" value="%%-RSS_TVNZB-%%">
   </div>
   </blockquote>
   <blockquote class="blockquote_orange">
   <p>
   <b>TV Series quality identifiers</b>
   <br /><br />
   These strings identify the release as either a High Definition release or a normal XviD from the TVNZB.com RSS feed. The default settings should be ok, so you can keep this <u>unchanged</u>.
   </p>
   <br />
   <div class="frm_element">
       HD Release identifier:<br />
       <input type="text" name="strTvNZBHD" value="%%-RSS_TVNZBHD-%%"><br />
       SD Release identifier:<br />
       <input type="text" name="strTvNZBSD" value="%%-RSS_TVNZBSD-%%">
   </div>
   </blockquote>
   <blockquote class="blockquote_yellow">
   <p>
   <b>NZBINDEX.nl RSS feed</b>
   <br /><br />
   Full URL to the NZBINDEX.nl RSS feed. Unless the url changes you can keep this setting <u>unchanged</u>.
   </p>
   <br />
   <div class="frm_element">
       <input type="text" name="strNZBIndex" value="%%-NZBINDEX_STR-%%">
   </div>
   </blockquote>
   <blockquote class="blockquote_yellow">
   <p>
   <b>NZBINDEX.nl NZB file age</b>
   <br /><br />
   If a record from your download list is found in the NZBINDEX.nl feed it may not exceed this number of days. (this setting can be handy if the retention on your newsserver is low)
   </p>
   <br />
   <div class="frm_element">
       <input type="text" name="strNZBIndexDays" value="%%-NZBINDEX_DAYS-%%">
   </div>
   </blockquote>
   <blockquote class="blockquote_yellow">
   <p>
   <b>NZBINDEX.nl number of results</b>
   <br /><br />
   Maximum number of results a check on NZBINDEX.nl may return.
   </p>
   <br />
   <div class="frm_element">
       <input type="text" name="strNZBIndexResults" value="%%-NZBINDEX_RESULTS-%%">
   </div>
   </blockquote>
   <blockquote class="blockquote_blue">
   <p>
   <b>Tweet your downloads</b>
   <br /><br />
   When enabled, every download will be announced (tweeted) to the specified Twitter account.<br /><br /><b>Note: this feature only works with PHP cURL!</b><br /><br />
   So if no tweets appear after a download list match your PHP cURL is probably disabled.
   </p>
   <br />
   <div class="frm_element">
       <select name="strTwitterEnabled">
           <option value="yes"%%-TWITTER_ON-%%>enabled</option>
           <option value="no"%%-TWITTER_OFF-%%>disabled</option>
       </select>
   </div>
   </blockquote>
   <div id="twitter_settings">
   <blockquote class="blockquote_blue">
   <p>
   <b>Twitter username</b>
   <br /><br />
   Your Twitter username. Tweets will be send to this account.
   </p>
   <br />
   <div class="frm_element">
       <input type="text" name="strTwitterUser" value="%%-STR_TWITUSER-%%">
   </div>
   </blockquote>
   <blockquote class="blockquote_blue">
   <p>
   <b>Twitter password</b>
   <br /><br />
   Enter the password for your Twitter account.
   </p>
   <br />
   <div class="frm_element">
       <input type="password" name="strTwitterPass" value="%%-STR_TWITPASS-%%">
   </div>
   </blockquote>
   <blockquote class="blockquote_blue">
   <p>
   <b>Twitter message</b>
   <br /><br />
   The Tweet message, you can use the following parameters:<br /><br />
   <b>%nzbgetter</b>   = The current NZBGetter title + version<br />
   <b>%download</b> = The title of the download
   </p>
   <br />
   <div class="frm_element">
       <input type="text" name="strTwitterMessage" value="%%-STR_TWITMSG-%%">
   </div>
   </blockquote>
   </div>
   <div class="element">
       <input type="submit" id="submit" value="Save settings"/>
       <div class="loading"></div>
   </div>
</form>
</div>