* { padding: 0; margin: 0; }
body { font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 11px; }
h2 { padding-top: 10px;padding-left: 10px;color:#55557B; }
h3 { color:#55557B; }
.blockquote_orange { margin: 1em 1em;padding: .2em 1em;border-left: 5px solid #fdb441;border-top: 1px solid #fdb441;border-bottom: 1px solid #fdb441;border-right: 1px solid #fdb441;background-color: #ffdda7; }
.blockquote_orange p { margin: 0; }
.blockquote_red { margin: 1em 1em;padding: .2em 1em;border-left: 5px solid #fc9981;border-top: 1px solid #fc9981;border-bottom: 1px solid #fc9981;border-right: 1px solid #fc9981;background-color: #faf2e7; }
.blockquote_red p { margin: 0; }
.blockquote_blue { margin: 1em 1em;padding: .2em 1em;border-left: 5px solid #c0deed;border-top: 1px solid #c0deed;border-bottom: 1px solid #c0deed;border-right: 1px solid #c0deed;background-color: #ddeef6; }
.blockquote_blue p { margin: 0; }
.blockquote_yellow { margin: 1em 1em;padding: .2em 1em;border-left: 5px solid #f4f3ae;border-top: 1px solid #f4f3ae;border-bottom: 1px solid #f4f3ae;border-right: 1px solid #f4f3ae;background-color: #fefee2; }
.blockquote_yellow p { margin: 0; }
.blockquote_green { margin: 1em 1em;padding: .2em 1em;border-left: 5px solid #b1fa9e;border-top: 1px solid #b1fa9e;border-bottom: 1px solid #b1fa9e;border-right: 1px solid #b1fa9e;background-color: #ddf9d6; }
.blockquote_green p { margin: 0; }
.blockquote_grey { margin: 1em 1em;padding: .2em 1em;border-left: 5px solid #7b7b7b;border-top: 1px solid #7b7b7b;border-bottom: 1px solid #7b7b7b;border-right: 1px solid #7b7b7b;background-color: #e8e8e8; }
.blockquote_grey p { margin: 0; }
nzbg_wrapper { width: 100%; }
#nzbg_header { width: 100%;color: #333;height: 50px;background: #F5F5F5;border-bottom: 1px solid #CCCCCC; }
#nzbg_menu { padding-left: 150px;position: absolute;top: 15px;left: 50px; }
a, a:visited { color: #000066; }
a:hover{ color: #006666; }
a.run, a.run:visited { color: #CC0000; }
a.run:hover{ color: #33CC00; }
#nzbg_content { width: 100%;color: #333;background: #F2F2E6;height: 100%;padding-top:20px; }
#nzbg_log { margin: 1em 1em;padding: .2em 1em;border-left: 5px solid #b1fa9e;border-top: 1px solid #b1fa9e;border-bottom: 1px solid #b1fa9e;border-right: 1px solid #b1fa9e;background-color: #ddf9d6; font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 10px;height : 250px; overflow : auto; }
#nzbg_footer { width: 100%;color: #333;background: #F5F5F5;height: 20px;border-bottom: 1px solid #CCCCCC;border-top: 1px solid #CCCCCC;font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 10px; }
.div_block { width: 600px; }
.frm_element * { font-family:arial;font-size:12px;padding:5px;margin:2px;margin-top:5px; }
.frm_element label { float:left;width:150px;font-weight:700; }
.frm_element select { padding:1px;margin:1px;width: 250px;padding-left:20px; }
.frm_element input { padding:5px;margin:2px;width: 250px;padding-left:20px; }
.frm_element input.text { float:left; }
.frm_element .hightlight { border:2px solid #9F1319;background:#FFFFFF url('../images/iconCaution.gif') no-repeat 2px; }
.frm_element #submit { float:right;margin-right:10px; }
.frm_done { background:url('../images/iconIdea.gif') no-repeat 2px;padding-top:20px;padding-left:20px;padding-bottom:20px;font-family:arial;font-size:12px;width:70%;display:none }
.loading { background:url('../images/ajaxLoading.gif') no-repeat 1px;height:28px;width:28px;display:none; }
#tblDownloadList{ width: 700px; }
#tblDownloadList thead{ background-color: #c7e5ff; }
#tblDownloadList tbody{ background-color: #f6fafd; }