# These are example settings. They can be copied to unpak.cfg and 
# modified is necessary.
# If you are running on the NMT Popcorn Hour and feeling lazy you can
# probably use all of the default settings here.. although you may want 
# to change "unpak_nmt_pin" if you play to use the PIN:FOLDER....
#
# unpak.cfg modified for use with CH3SNAS / DNS-323
# Dennis Slagers http://www.aroundmyroom.com 
#
#########################################################################
# IMPORTANT SETTINGS  : Read Carefully After Installing
#########################################################################
unpak_nzbget_bin="/usr/local/etc/newsbin/bin/nzbget"
unpak_nzbget_conf="/usr/local/etc/conf/nzbget.conf"
unpak_unrar_bin="/opt/bin/unrar"
unpak_par2_bin="/opt/bin/par2"  
# PAR 2 does not exist for CH3SNAS (or you must find it / install it), so use the embedded par for NZBGET !!!!


#By default the script will attempt to do par repairs IF nzbget is NOT doing them.
#The main reason to do parrepair externally is that the script will only attempt a
#par repair if an unrar fails. This can save quite a bit of time especially on slow CPU
#machines.
#To take advantage of this the following settings should be configured in nzbget.conf 
#and nzbget restarted.

# -- EITHER --(download all Pars right away before unrar attempt)

#    ParCheck=no  
#    LoadPars=all 

# -- OR --(unrar and if it fails go back and get all remaining pars )

#    ParCheck=no  
#    LoadPars=one or none
#    AllowReProcess=yes  
# -----------------------
#For security could uncomment the following
#export PATH=/usr/bin:/bin:/usr/local/bin

#########################################################################
# CATEGORIES AND FOLDERS
#########################################################################
#
# THE DEFAULT CONFIGURATION WILL PUT ANY FILES FLAGGED AS EROTICA IN THE FOLDER
# ../Complete/Other/2/4/6/8. 
# (see unpak_subfolder_by_newsgroup_2,'unpak_nmt_pin_root' and 'unpak_nmt_pin' )
#
# [DS] MODIFIED THE EROTICA PART NOT TO HAVE A PIN PART
# 
# Destination Folder (can be absolute or Relative to the DestDir in nzbget.conf)
#This was previously '../Completed' but now its better to use the Root folder
#as unsorted stuff goes in the Unsorted folder.
#
#
unpak_completed_dir="/usr/local/etc/newsbin/usenet/"  #Default location for completed NZBs # modified for CH3SNAS 16-10-2008

# [DS] unpak_recent_extensions=".avi,.iso,.img,.mkv" ONLY PUT THESE FILES IN THE 'NEW, RECENT FOLDERS' SEE UNPAK.SH
#
# A special dynamic folder is created that will contain all files that were 
# created recently (less than 'unpak_recent_age' days old ). If set to 0
# this folder is not created or updated. No extra disk space is used.
unpak_recent_age=6


# Folder in which to keep recent files. It must be on the same
# file system as the completed folder.
# To delete files - delete them from thier ORIGINAL locations.
# Any files in this folder will be eventually deleted when the original file is deleted.
unpak_recent_dir="/usr/local/etc/newsbin/usenet/New"


# Another dynamic folder contains slightly older files.
# (less than 'unpak_recent_age2' days old ). If set to 0
# this folder is not created or updated. No extra disk space is used.
unpak_recent_age2=13


# Folder in which to keep slightly older files. It must be on the same
# file system as the completed folder.
# To delete files - delete them from thier ORIGINAL locations.
# Any files in this folder will be eventually deleted when the original file is deleted.
unpak_recent_dir2="/usr/local/etc/newsbin/usenet/Recent" 


# If enabled, folders with mp3 files will be moved into "$unpak_completed_dir/Music" and 
# folders containing episodes
# (eg 'something.402.avi, something.4x02.avi, something.s04e02.avi)
# will be moved to "$unpak_completed_dir/something/s4/" 
# There may be some instances where episodes are not properly recognised, in 
# which case, that will appear in "$unpak_completed_dir/$unpak_category_default"
# nzbget 0.5.0 categories will take priority.
unpak_auto_categorisation_from_filenames=1
unpak_auto_categorisation_from_newsgroups=1


# If set to '1' folders with .nfo files that link to IMDB movies will be
# moved to $unpak_completed_dir/Movies.
unpak_auto_categorisation_from_imdb=1


#Changes the movie folder name to the following format.
#{TITLE} - use the IMDB title. Any text inside the {} will only appear if title is found.
#{CERT} - use the IMDB title. Any characters inside the {} will only appear if certificate is found.
#{GENRE_LIST} - use the IMDB genre list.
#{NZB} - The original NZB/Download folder name
#In each case Any additional characters INSIDE the {...} will only appear if
#the relevant field is found.

unpak_imdb_movie_format="{TITLE }{[CERT] }{[GENRE_LIST] }{NZB}"

#unpak_imdb_movie_format="{NZB}{ [CERT]}{ [GENRE_LIST]}{ [TITLE]}"
#Examples:
#To disable any IMDB text uncomment the following line
#unpak_imdb_movie_format="{NZB}"
#
#To group movies by certificate uncomment the following line. (note the position of the '/' inside the {})
#unpak_imdb_movie_format="{CERT/}{[TITLE] }{[GENRE_LIST] }{NZB}"
#
#
#For IMDB Titles use the titles from the following countries.
#Put countries in order of preference. This has only been tested with the given settings!

unpak_imdb_title_country_filter="UK,USA" 


#For IMDB Certificates use the following countries.
#Put countries in order of preference. This has only been tested with the given settings!

unpak_imdb_certificate_country_filter="UK,USA"


# If the category is 'Tv' then move
# the content into the category rather than the folder. This means all avis
# appear in the same folder rather than in seperate folders.
# This depends on unpak_auto_categorisation=1 OR using a manual 'Tv' category in  nzbget.

unpak_episodes_in_same_folder=1


# Default Category used if unpak_auto_categorisation=1
unpak_category_default=Unsorted


# Change case for Category Paths
# eg "Tv/Happy Days/S1" vs 'tv/happy days/s1' 
# lower=lowercase
# upper=UPPERCASE
# caps=Capitilized
# none=Leave Unchanged
unpak_episodes_folder_case="caps"


# Set this to 1 if you want to change your existing folders from one format to another
# eg from Uppercase to lowercase. This takes a while to run so if you use it, change it
# back to 0 once folders have been renamed.
unpak_rename_existing_episode_folders=0


# If no category is automatically determined then inspect the newsgroups in the
# nzb for clues. If the nzb contains a newsgroup with the given keyword, the corresponding
# subfolder is used. The subfolder location is relative to unpak_completed_dir
# unless it begins with '/' then it is an absolute path.
# If it begins with 'PIN:FOLDER' then the pin folder will be used. (see Pin Folder settings)
# Add or remove newsgroup/subfolder mappings below. They must begin with "subfolder_by_newsgroup_"

unpak_subfolder_by_newsgroup_0="sounds:/usr/local/etc/newsbin/usenet/Music"
# unpak_subfolder_by_newsgroup_1="erotica:PIN:FOLDER" #see unpak_nmt_pin_root and unpak_nmt_pin below
# [DS] ABOVE LINE IS ORIGINAL ONE
unpak_subfolder_by_newsgroup_1="erotica:/usr/local/etc/newsbin/usenet/Erotica"
unpak_subfolder_by_newsgroup_2="pictures:/usr/local/etc/newsbin/usenet/Pictures"


#########################################################################
# LESSER SETTINGS / TWEAKS  : Read If Not Behaving As Required
#########################################################################
# Log debug messages
unpak_debug_mode=0


# Before unraring check volume sizes and rar headers. Set to 1 to avoid
# unpacking rars where it is obvious they are broken, in which case the 
# script can be configured to get the pars (see ParCheck=no above)
# Set to 0 if you may want partial extract attempts. eg (collection of mp3s)
unpak_sanity_check_rar_files=1


# Rename img-files to iso (1, 0)
unpak_rename_img_to_iso=1


# Log Notification of changes to this script.
unpak_check_for_new_versions=0


# HTML Logging - If set to 1 then the log file will be a html file (unrar.html) with colours. 
# This may be visible via the file browser of the media centre.
# Note this may be removed soon as I never look at the html log file, and I suspect no one else
# does either!
unpak_nmt_html_logging=1


# This is a bit hackish for MediaCentre devices :) 
# The script will create fake filenames
#so that problems may appear in a media device's file browser.
# E.g. unpack_unrar_failed.avi
# This makes it easy to tell when something is wrong as opposed to still
# downloading.
# A fake file will be created with each of the listed extensions.
unpak_nmt_alert_using_fake_files=0


# unpak_nmt_fake_file_extensions=".avi .mp3"
unpak_nmt_fake_file_extensions=".avi"


# Delete rar-files after successfully unpacking
# 1=Delete (recommended), 0=dont delete.
unpak_delete_rar_files=1


# Delete completed NZBs older that given age(days). 0 = dont delete.
# This will only delete NZBs that nzbget has previously called this script against. 
unpak_max_nzbfile_age=30


# How many times to keep unpacking nested rar files.
# 1 = just do top level rars.
unpak_nested_unrar_depth=3


# This script alters its behaviour automatically according to the ParCheck setting in nzbget.conf.
# If ParCheck=yes in nzbget.conf then the script will not do an external parcheck.
# If ParCheck=no in nzbget.conf then the script WILL do an external parcheck.
# Ie it nzbget is not parchecking then the script WILL check if needed.
# To disable ALL parChecking even if ParCheck=no then set 'unpak_disable_external_par_repair=1'
# This is not recommended unless you have some other ParRepair solution. 
unpak_disable_external_par_repair=1


#Remove paused PAR files from the queue if unrar is successful
# Ignored if unpak_disable_external_par_repair=1
unpak_external_par_repair_tidy_queue=1

#Pause nzbget whilst the script is running.
#(Note nzbget 0.5 has PostPauseQueue setting which is preferred)
unpak_pause_nzbget=0


#Pause nzbget whilst unpacking. Set to 1 if you have v fast connection (10Mbps or better)
#otherwise leave on 0 ? 
unpak_pause_nzbget_during_unrar=0


#Par repair is a bit more cpu intensive. Enable if you have > 10Mbps
pause_nzbget_during_par2repair=0


#Only attempt par repairs if they will complete in the given amount of minutes (0=always repair)
unpak_maximum_par_repair_minutes=300


######################################################################
# Pin Folder Settings
######################################################################
# THIS HACK IS INTENDED FOR EMBEDDED DEVICES THAT HAVE NO DIRECT SEARCH
# OR INDEXING CAPABILITIES.
# DO NOT RELY ON IT FOR CHILD-LOCK/PRIVACY IF YOU HAVE BETTER OPTIONS. 
# eg FILE PERMISSIONS/PARENTAL LOCK
#
# IT IS NOT PRETTY.
# IT IS NOT SECURE.
# IT IS BETTER THAN NOTHING - MAYBE.
# IT MAY NOT WORK ALL THE TIME.
#
# THIS IS TRIVIAL TO EXPLOIT USING ANY SEARCH/FIND COMMAND VIA OS INTERFACE.
# ESPECIALLY IF THE FOLDER IS SHARED IT CAN BE FOUND EASILY.
#
# SOME MEDIA PLAYERS ALSO REMEMBER THE LAST FOLDER VISITED.
# -------------------------------------------------------------------------
# There is no parental control on the PCH at time of writing.
# To help guard agaist accidental viewing of unsuitable material
# I created a PIN folder. Inside this folder the script will create 
# a heirachy nested folders, each with more folders in.
# Knowing the pin allows you to navigate the folders.
# If the categories in unpak_subfolder_by_newsgroup_* settings begin with PIN:FOLDER this will be 
# replaced with the path to the pin folder. 
# For example if
#
#   $unpak_nmt_pin_root=/share/Other and the pin is 2468
#
# then when the download is complete it is moved to
#
#   /share/Other/2/4/6/8
#
# For example if you want to hide your love of trombone music change/add the
# setting:
#
# unpak_subfolder_by_newsgroup_n="trombone:PIN:FOLDER/trombone" (where n is a number)
#
# to the unpak_subfolder_by_newsgroup_ section.
# -------------------------------------------------------------------------
# FOR REAL SECURITY USE SUITABLE FILE PERMISSIONS / PARENTAL LOCK(when it comes).
# -------------------------------------------------------------------------
# To disable this feature simply replace the text 'PIN:FOLDER' in the 
# unpak_subfolder_by_newsgroup_* settings.
# This is where the pin folder will live. You can change the folder to be anywhere
# and also change the name to draw less interest. eg /share/Complete/lawn_bowling     
unpak_nmt_pin_root=/usr/local/etc/newsbin/usenet/Other


# This is the PIN. CHANGE THE FOLLOWING SEQUENCE* to be your 'pin'.
# It should be a string of digits any reasonable length, (eg 3-6)
# although more than 5 can be a pain to navigate via remote.
# Note I've removed '0' from the digit options, so the folder names correspond to thier position.
# this means the PIN can be keyed directly on the remote. So avoid PINs containing '0'.
unpak_nmt_pin="2468" 


# The following setting will add an asterisk to every folder in the PIN FOLDER.
# A side effect of this is that the Long Folder Names do not appear in SAMBA
# only short names will appear via SMB.
# Again this is not any kind of security you should rely on.
unpak_nmt_pin_folder_scrample_windows_share=1


#---------------------------------------------------------------------------
unpak_settings_version=1 #Dont change this
